<div>
    <div class="submit-form">
        <div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="resident.name" name="name" />
            </div>

            <div class="form-group">
                <label for="name">Gender</label>
                <!-- <input type="text" class="form-control" id="gender" required [(ngModel)]="resident.gender"
                    name="gender" /> -->
                <select name="gender" class="form-control" id="gender" [(ngModel)]="resident.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>


            <div class="form-group">
                <label for="name">Date of birth</label>
                <input type="text" class="form-control" id="dob" required [(ngModel)]="resident.dob" name="dob" />
            </div>
            <div class="form-group">
                <label for="name">CCCD</label>
                <input type="text" class="form-control" id="cccd" required [(ngModel)]="resident.cccd" name="cccd" />
            </div>
            <div class="form-group">
                <label for="name">Phone number</label>
                <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="resident.phoneNumber"
                    name="phoneNumber" />
            </div>

            <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>