<div class="col-md-8">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="name" />
    <div style="margin-left: 20px;" class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="searchTitle()">
        Search
      </button>
    </div>
  </div>
</div>

<button routerLink="/manage-employee-add" type="button" class="btn btn-primary">Add</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Date of birth</th>
      <th scope="col">CCCD</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Position</th>
      <th scope="col">Working time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees | paginate : {
    itemsPerPage: pageSize,
    currentPage: page,
    totalItems: count
    }; track employee.id) {

    <tr>
      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.dob }}</td>
      <td>{{ employee.cccd }}</td>
      <td>{{ employee.phoneNumber }}</td>
      <td>{{ employee.position }}</td>
      <td>{{ employee.workingTime }}</td>
      <td>
        <button routerLink="/manage-employee-edit/{{ employee.id }}" type="button" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-danger" style="margin-left: 15px;"
          (click)="delete(employee.id)">Delete</button>
      </td>
    </tr>
    }

  </tbody>
</table>

<div style="text-align: end;" class="col-md-5">
  <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
    (pageChange)="handlePageChange($event)"></pagination-controls>
</div>